@import "functions";

// Colors
$white-1: #fff;
$white-2: #f6f7fb;

$grey-1: #e0e3f5;
$grey-2: #b6bdd3;
$grey-3: #7d8497;
$grey-4: #465371;

$blue-1: #205eff;
$blue-2: #114ae0;
$blue-3: #0538c2;

$dark-1: #2b303f;

// Animation
$hover-duration: 300ms;

// Sizes
$default-interactive-elements-height: toRem(46);
$default-border-radius: 12px;
