@import "functions";

// Colors
$white-1: #fff;
$white-2: #f6f7fb;

$grey-1: #e0e3f5;
$grey-2: #e7eaf5;
$grey-3: #b6bdd3;
$grey-4: #7d8497;
$grey-5: #465371;

$blue-1: #205eff;
$blue-2: rgba(39, 95, 242, 0.3);

$dark-1: #2b303f;

// Animation
$animation-duration: 300ms;

// Sizes
$default-border-radius: 12px;
$list-item-padding: toRem(20);
