.list-animation-move,
.list-animation-enter-active,
.list-animation-leave-active {
  transition: all 0.5s ease;
}
.list-animation-enter-from,
.list-animation-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.list-animation-leave-active {
  position: absolute;
}
