@use "@/assets/styles/functions";
@use "@/assets/styles/variables";

body {
  color: variables.$dark-1;
  background-color: variables.$white-2;
  font-family: 'Open Sans', sans-serif;
  font-size: functions.toRem(16);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}
