@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

body {
  color: $dark-1;
  background-color: $white-2;
  font-family: 'Open Sans', sans-serif;
  font-size: toRem(16);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}
